Repository voxpupuli/puppet-augeas, pull requests merged in 2024-09, with the labels that each got.

#104 Drop support for EOL operating systems
  metadata.json
Labels: backwards-incompatible

#106 Archive ChangeLog into History file
  HISTORY.md
Labels: skip-changelog

#105 Add support for Debian 12, Ubuntu 24.04
  metadata.json
Labels: enhancement

#108 drop support for EoL Amazon 2014.09 & 2015.03
  metadata.json
Labels: backwards-incompatible

#109 update metadata to reflect camptocamp -> voxpupuli migration
  metadata.json
Labels: skip-changelog

#103 release 2.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#110 modulesync 9.2.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#111 modulesync 9.3.0
  .github/workflows/release.yml
  .msync.yml
Labels: modulesync
